/* BREADCRUMB */
.breadcrumb a {
    color: royalblue;
}

/* FIN BREADCRUMB */

/* SCROLL TOP BUTTON */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3000;
    display: none;
}

/* FIN SCROLL TOP BUTTON */

/* ANIMACION LATIDOS BOTON FICHAR */
@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.agitar {
    animation: shake 0.8s cubic-bezier(.36, .07, .19, .97)
}

/*  CARDS BASICAS */
.base-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .46);
}

.base-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.46);
}

/* FIN CARDS BASICAS */

.primary-text {
    color: #00699d;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(90deg, rgb(187, 208, 232) 0%, rgba(98, 163, 238, 1) 100%);
    height: 100vh;
}

#sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    min-height: 100vh;
    margin-left: 0;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    -webkit-transition: margin 0.20s ease-in;
    -moz-transition: margin 0.2s ease-in;
    -o-transition: margin 0.2s ease-in;
    transition: margin 0.2s ease-in;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    position: static;
    top: auto;
    bottom: auto;
    overflow-y: visible;
}

#wrapper.toggled #page-content-wrapper {
    width: 100%;
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

#menu-toggle-sidebar {
    cursor: pointer;
    margin-left: 30px;
}

.list-group-item {
    border: none;
    padding: 15px 30px;
}

.list-group-item:hover {
    color: var(--bs-dark) !important;
}

.salir:hover {
    color: red !important;
}

.list-group-item.active {
    background-color: transparent;
    color: #00699d !important;
    font-weight: bold;
    border: none;
}

@media (max-width: 576px) {
    #btn-back-to-top {
        display: none !important;
    }

    .col-sm-3 {
        justify-content: start !important;
    }
}

@media (max-width: 300px) {
    #menu-toggle-sidebar {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -15rem;
        position: static;
        top: auto;
        bottom: auto;
        overflow-y: visible;
    }

    #page-content-wrapper {
        width: 100%;
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        min-height: 100vh;
        margin-left: 0;
        -webkit-transition: margin 0.25s ease-out;
        -moz-transition: margin 0.25s ease-out;
        -o-transition: margin 0.25s ease-out;
        transition: margin 0.25s ease-out;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-left: 15rem;
        -webkit-transition: margin 0.20s ease-in;
        -moz-transition: margin 0.2s ease-in;
        -o-transition: margin 0.2s ease-in;
        transition: margin 0.2s ease-in;
    }
}

/* ESTILOS DATATABLE MOBILE */

@media (max-width: 768px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: 65% !important;
        margin-top: 1em !important;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important;
        flex-wrap: wrap !important;
    }

}