/* BREADCRUMB */
.breadcrumb a {
    color: royalblue;
}

/* FIN BREADCRUMB */

/* SCROLL TOP BUTTON */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3000;
    display: none;
}

/* FIN SCROLL TOP BUTTON */

/*  CARDS BASICAS */
.base-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .46);
}

.base-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.46);
}

/* FIN CARDS BASICAS */

.primary-text {
    color: #00699d;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(90deg, rgb(187, 208, 232) 0%, rgba(98, 163, 238, 1) 100%);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

#menu-toggle-sidebar {
    cursor: pointer;
    margin-left: 30px;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: #00699d !important;
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@media (max-width: 576px) {
    #btn-back-to-top {
        display: none !important;
    }

    .col-sm-3 {
        justify-content: start !important;
    }
}

@media (max-width: 300px) {
    #menu-toggle-sidebar {
        margin-left: 0;
    }
}

/* ESTILOS DATATABLE MOBILE */

@media (max-width: 768px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: 65% !important;
        margin-top: 1em !important;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important;
        flex-wrap: wrap !important;
    }

}